In [1]:
import numpy as np
import pandas as pd

Illegal line #1
	"{\rtf1\ansi\ansicpg936\cocoartf1671\cocoasubrtf200
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #2
	"{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #3
	"{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red255\green255\blue255;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #4
	"{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c100000\c100000\c100000;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #5
	"\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #6
	"\deftab720
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #7
	"\pard\pardeftab720\sl260\partightenfactor0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #9
	"\f0\fs22 \cf2 \cb3 \expnd0\expndtw0\kerning0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"

Bad key "\outl0\strokewidth0 \strokec2 backend" on line 10 in
/Users/ousei/.matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
text = pd.read_csv('result.csv')

In [4]:
text.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S

Groupby

经常需要将数据根据某个（多个）字段划分为不同的群体（group）进行分析，